{% extends "user_panel/base.html" %}
{% block content %}
<div class="container my-5">
  <h3 class="mb-4">Products in {{ category.name }}</h3>
  <div class="row g-4">
    {% for product in products %}
    <div class="col-md-3">
      <div class="card shadow-sm">
        <img src="{{ product.main_image.url }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body text-center">
          <h5>{{ product.name }}</h5>
          <p class="text-success fw-bold">₹{{ product.price }}</p>
          <a href="{% url 'user_panel:userproduct_list' %}" class="btn btn-outline-success btn-sm">Buy Now</a>
        </div>
      </div>
    </div>
    {% empty %}
    <p>No products available in this category.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
